<header class="page-header">
  <div class="centered-content">

    <a href="/" class="logo-button">
      <mp-logo></mp-logo>
    </a>

    <nav id="utilNav" class="header-nav util-nav">
      <div class="button-wrapper">
        <a class="button" href="https://plan.megapode.ca/account/orders/create">
          <span class="button-label members">Commandez votre plan Megapode</span>
        </a>
      </div>
      <div class="button-wrapper">
        <a class="button" href="https://plan.megapode.ca/login">
          <span class="button-label members">Membres</span>
        </a>
      </div>
      <div class="button-wrapper">
        <button
          id="mainMenuButton"
          type="button"
          class="button"
          ng-click="vm.requestMenu()"
          aria-label="Menu - Ouvre le menu de navigation du site web"
        >
          <span class="button-label menu">Menu</span>
        </button>
      </div>
    </nav>

    <nav id="mainNav" class="header-nav main-nav">
      <a class="link" href="/comment-utiliser-megapode">Comment utiliser Megapode</a>
      <span class="link-separator">•</span>
      <a class="link" href="/regions-disponibles">Régions disponibles</a>
    </nav>

  </div>

</header>
