### IGNORE FILES FROM GIT ###

### MAC OSX FILES ###
*._*
*.DS_STORE

### FILETYPES ###
*.psd
*.ai
*.indd

### PROJECT DIRECTORIES AND FILES ###
*.log
.dev
/assets
/node_modules
/www/wp-content/uploads
/megapode-website-w17
