### IGNORE FILES FROM GIT ###

### MAC OSX FILES ###
*._*
*.DS_STORE

### FILETYPES ###
*.psd
*.ai
*.indd

### PROJECT DIRECTORIES AND FILES ###
*.log
.dev
/assets
/megapode-website-w17
/node_modules
/www/wp-content/themes/megapode-website-w17/static/scripts/**/*
/www/wp-content/themes/megapode-website-w17/static/styles/**/*
/www/wp-content/uploads