.download-cta {
  position: relative;

  .devices-icons {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 62px;
    height: 42px;

    // TODO: investigate what to do fo @2x
    &.dark {
      background-image: url('@{imagesDir}/download-cta-devices-dark.png');
    }
    &.light {
      background-image: url('@{imagesDir}/download-cta-devices-light.png');
    }
  }

  .download-label {
    display: inline-block;
    position: relative;
    top: -4px;
    margin: 0 5px 0 15px;
    font-family: @ffSansSerif;
    font-size: 12pt;
    font-weight: @fwBold;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0.25pt;

    &.dark {
      color: @black;
    }
    &.light {
      color: @white;
    }
  }

  .download-button {
    display: inline-block;
    position: relative;
    margin: 1px 0;
    width: 17px;
    height: 20px;
    padding: 10px 20px;
    border: 0;
    background-color: #287ff5;

    svg {
      width: 17px;
      height: 20px;
      fill: @white;
    }

    &.android {
      margin-left: -2px;
    }
  }
}