.presentation-reservation-form {
  margin: 0 auto;
  width: 470px;
  padding: 50px 45px 75px;
  background-color: @black;
  color: @white;
  .dropShadow();

  label {
    margin-bottom: 5px;
  }

  input {
    margin-bottom: 15px;
    border: none;
    width: 290px;
  }

  .error {

    label {
      color: @errorColor;
    }
    input {
      border: 1px solid @errorColor;
      background-color: @errorBGColor;
    }
  }

  .name-part {
    display: inline-block;
    input {
      width: 220px;
    }
    &.first-name-wrapper { 
      margin-right: 5px;
    }
  }

  .submit-button {
    display: inline-block;
    margin-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .form-message {
    display: block;
    position: relative;
    font-size: 10pt;
    color: @errorColor;

    &.please-fix{
      display: inline-block;
      top: 15px;
      width: 300px;
      margin-left: 20px;
    }

    &.response {
      margin-top: 15px;
    }

    &.success {
      color: @white;
    }
  }
}