.presentation-reservation-form {
  margin: 0 auto;
  width: 470px;
  padding: 50px 45px 75px;
  background-color: @black;
  color: @white;
  .dropShadow();

  input {
    border: none;
    width: 290px;
  }

  .error {

    label {
      color: @errorColor;
    }
    input {
      border: 1px solid @errorColor;
      background-color: @errorBGColor;
    }
  }

  .name-part {
    display: inline-block;
    input {
      width: 220px;
    }
    &.first-name-wrapper { 
      margin-right: 5px;
    }
  }

  .submit-button {
    display: inline-block;
    margin-top: 25px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .form-message {
    display: block;
    position: relative;
    font-size: 10pt;
    color: @errorColor;

    &.please-fix{
      display: inline-block;
      top: 15px;
      width: 300px;
      margin-left: 20px;
    }

    &.response {
      margin-top: 15px;
    }
  }

  .success-response {
    color: @white;

    h2 {
      margin: 20px 0 15px;
      font-size: 13pt;
      line-height: 1;
    }

    svg {
      fill: @white;
    }

    .follow-up-header {
      margin-bottom: 60px;
    }

    .follow-up-subheading {
      font-size: 10pt;
      line-height: 1;
      margin: 0;
      padding: 0;
    }

    .follow-up-column {
      display: inline-block;
      width: 50%;
    }

    .follow-up-icon {
      &.icon-letter-sent svg {
        width: 78px;
        height: 29px;
      }
      &.icon-phone svg {
        width: 40px;
        height: 40px;
        margin-bottom: 15px;
      }
      &.icon-letter svg {
        width: 45px;
        height: 40px;
        vertical-align: bottom;
        margin-bottom: 15px;
      }
    }

    .follow-up-link {
      padding: 0;
      margin: 0;
      color: @white;
      font-size: 13pt;
      font-weight: @fwBold;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 1;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}