<div id="mainMenu" class="main-menu">
  <div class="logo-container">
    <mp-logo></mp-logo>
  </div>
  <div class="separator"></div>
  <nav class="main-menu-nav">
    <a class="main-menu-item" href="/">Page d'accueil</a>
    <a class="main-menu-item" href="/bonjour">Bonjour</a>
    <a class="main-menu-item" href="/comment-utiliser-megapode">Comment utiliser Megapode</a>
    <a class="main-menu-item" href="/regions-disponibles">Régions disponibles</a>
    <a class="main-menu-item" href="#">Nos forfaits</a>
    <a class="main-menu-item" href="#">Corporatif</a>
    <a class="main-menu-item" href="#">Nous joindre</a>
  </nav>
  <div class="separator"></div>
</div>