.contact-form {
  padding-bottom: 60px;

  input[type=text],
  input[type=email],
  input[type=tel],
  textarea {
    width: 448px;
  }

  .name-part {
    display: inline-block;
    input {
      width: 215px;
    }
    &.first-name-wrapper { 
      margin-right: 5px;
    }
  }
}